nav {
  background: rgb(39, 39, 39);
  padding: 10px;
  margin-bottom: 10px;
}

nav a {
  text-decoration: none;
  color: white;
  margin: 0 20px;
  transition: color 0.2s ease;
}

nav a.active {
  color: gray;
}

nav a:hover {
  color: rgb(44, 44, 44);
}

.sub-nav-cont {
  display: flex;
  justify-content: center;
}

.sub-nav-cont a {
  margin: 0px 10px;
  text-decoration: none;
  color: gray;
}

.sub-nav-cont a.active {
  color: rgb(65, 65, 65);
  font-weight: bold;
}
